# DATA PREPROCESSING AND DATA CLEANING:

In [1]:
import pandas as pd
import numpy as np

In [2]:
Data = pd.read_csv('CYBER.csv')
Data.head()

                                          tweet_text cyberbullying_type
0  In other words #katandandre, your food was cra...  not_cyberbullying
1  Why is #aussietv so white? #MKR #theblock #ImA...  not_cyberbullying
2  @XochitlSuckkks a classy whore? Or more red ve...  not_cyberbullying
3  @Jason_Gio meh. :P  thanks for the heads up, b...  not_cyberbullying
4  @RudhoeEnglish This is an ISIS account pretend...  not_cyberbullying

In [3]:
Data.tail()

                                              tweet_text cyberbullying_type
47687  Black ppl aren't expected to do anything, depe...          ethnicity
47688  Turner did not withhold his disappointment. Tu...          ethnicity
47689  I swear to God. This dumb nigger bitch. I have...          ethnicity
47690  Yea fuck you RT @therealexel: IF YOURE A NIGGE...          ethnicity
47691  Bro. U gotta chill RT @CHILLShrammy: Dog FUCK ...          ethnicity

In [4]:
Data.shape

(47692, 2)

In [5]:
Data = Data.dropna()

In [6]:
Data.shape

(47692, 2)

In [7]:
Data.size

95384

In [8]:
Data.isnull().sum()

tweet_text            0
cyberbullying_type    0
dtype: int64

In [9]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47692 entries, 0 to 47691
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_text          47692 non-null  object
 1   cyberbullying_type  47692 non-null  object
dtypes: object(2)
memory usage: 745.3+ KB

In [10]:
Data.columns

Index(['tweet_text', 'cyberbullying_type'], dtype='object')

In [11]:
Data['cyberbullying_type'].unique()

array(['not_cyberbullying', 'gender', 'religion', 'other_cyberbullying',
       'age', 'ethnicity'], dtype=object)

In [12]:
Data['cyberbullying_type'].value_counts()

cyberbullying_type
religion               7998
age                    7992
gender                 7973
ethnicity              7961
not_cyberbullying      7945
other_cyberbullying    7823
Name: count, dtype: int64

In [13]:
Data.groupby('cyberbullying_type').describe()

                    tweet_text         \
                         count unique
cyberbullying_type
age                       7992   7992
ethnicity                 7961   7959
gender                    7973   7948
not_cyberbullying         7945   7937
other_cyberbullying       7823   7823
religion                  7998   7997


                                                                   top freq
cyberbullying_type
age                  Here at home. Neighbors pick on my family and ...    1
ethnicity            Racism won't stop as long as u stil select ur ...    2
gender               We proved that we're not just pretty faces. Oh...    2
not_cyberbullying    Strategicscoring should be classed as cheating...    2
other_cyberbullying  @ikralla fyi, it looks like I was caught by it...    1
religion             A Pakistani court has sentenced 86 members of ...    2

#### BEFORE LABEL ENCODER

In [14]:
Data.head()

                                          tweet_text cyberbullying_type
0  In other words #katandandre, your food was cra...  not_cyberbullying
1  Why is #aussietv so white? #MKR #theblock #ImA...  not_cyberbullying
2  @XochitlSuckkks a classy whore? Or more red ve...  not_cyberbullying
3  @Jason_Gio meh. :P  thanks for the heads up, b...  not_cyberbullying
4  @RudhoeEnglish This is an ISIS account pretend...  not_cyberbullying

In [15]:
from sklearn.preprocessing import LabelEncoder
var_mod = ['tweet_text','cyberbullying_type']
le = LabelEncoder()
for i in var_mod:
    Data[i] = le.fit_transform(Data[i]).astype(int)

#### AFTER LABEL ENCODER

In [16]:
Data.head()

   tweet_text  cyberbullying_type
0       22733                   3
1       38467                   3
2        7233                   3
3        4110                   3
4        6030                   3

In [17]:
Data.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
47687    False
47688    False
47689    False
47690    False
47691    False
Length: 47692, dtype: bool

In [18]:
Data.duplicated().sum()

36

In [19]:
Data = Data.drop_duplicates()

In [20]:
Data.duplicated().sum()

0